@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato);

/* =-=-=-=-=-=-=-=-=-=-= COLOR PALETTE -=-=-=-=-=-=-=-=-=-=-= */
/* https://coolors.co/app/ffd059-b2c965-486834-ff5804-cd4a29 */

/* CSS Document */
body{
	margin:0;
	padding:0;	
	
}

.loginBG{
	background-image: url("../imgs/Fresh-Vegetables.jpg");
	background-size:cover;
	background-position: 50%;
	height:100%;
	width:100%;
	opacity: 0.8;
}

.loginLogo {
	display: block;
}

.pageinfo{
	color:#000;
	text-align:center;
	display: block;
	background: rgba(250,250,250,0.8);
	border: 5px solid #486834;
	padding: 25px;
	width: 100%;
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.pageinfo img{
	width:100%;
	max-width: 400px;
	margin:0 auto;	
}

.name{
	font-size: calc(0.5em + 3vmin);	
	font-family: 'Lato', sans-serif;
	font-weight:bold;
}

.enjoy-css {
	font-family: 'Lato', sans-serif;
	font-size: calc(0.4em + 1vmin);
	color: #4D4D4D;
  	display: inline-block;
	text-align: center;
	padding: 10px 20px;
	border: 1px solid #4D4D4D;
	-webkit-border-radius: 21px;
	border-radius: 21px;
	margin-top: 20px;
}

.buttonstyle {
	font-family: 'Lato', sans-serif;
	font-size: calc(0.6em + 1vmin);
	background-color:#486834;
	width:100px;
	padding:10px;
	position:relative;
	text-decoration:none;
	color:#fff;
	border-radius: 21px;
	cursor:pointer;
	border: none;
	margin-top: 20px;
}

<<<<<<< HEAD
.buttonestyle:active {
	top:7px;
	background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
	box-shadow: inset 0px 1px 0px #b2f17f, inset 0px -1px 0px #3d6f0d;
	color: #156785;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
	background: rgb(44,160,202);
}

=======
>>>>>>> origin/master
#errorMessage{
	color:red;
}