@charset "utf-8";

/* CSS Document */

.card {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom:15px;
}

.card-image {
	min-height: 200px;
	background: #ccc;
	width: 100%;
}

.row {
	padding-top: 50px;
}

footer {
	background: #ccc;
	margin-top: 50px;
	padding-top: 30px;
}

.top {
	position: fixed;
	right: 40px;
	bottom: 150px;
	font-size: 2em;
}